

function formatNormStatus(val,row){
	switch(val)
	{
		case "0":
			return "<font >{$Think.lang.large}</font>";
			break;
		case "1":
			return "<font >{$Think.lang.medium}</font>";
		  break;
		case "2":
			return "<font >{$Think.lang.small}</font>";
		  break;
		default:
			return "{$Think.lang.undefined}";
	}
}

function formatBoxIsOpenStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='green'>{$Think.lang.s0010}</font>";
		break;
	case "1":
		return "<font color='red'>{$Think.lang.s0009}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}