function formatLogisticsCardinfoType(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.courier}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.the_administrator}</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}


	function formatLogisticsCardinfoStatus(val,row){
		switch(val)
		{
			case "0":
				return "<font color='red'>{$Think.lang.stop}</font>";
				break;
			case "1":
				return "<font color='#EE6911'>{$Think.lang.register_to_be_audited}</font>";
				break;
			case "2":
				return "<font color='green'>{$Think.lang.approved}</font>";
			  break;
			case "3":
				return "<font color='blue'>{$Think.lang.reject}</font>";
			  break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
	
	function formatLogisticsOrderStatus(val,row){
		switch(val)
		{
			case "0":
				return "<font>{$Think.lang.complete_the_waybill} </font>";
				break;
			case "1":
				return "<font color='green'>{$Think.lang.in_the_air_waybill}</font>";
				break;
			case "2":
				return "<font color='blue'>{$Think.lang.receiving_waybill}</font>";
			  break;
			 case "3":
				return "<font color='blue'>{$Think.lang.abnormal_end}</font>";
			  break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
	function formatLogisticsOrderType(val,row){
		switch(val)
		{
			case "1":
				return "<font color='green'>{$Think.lang.delivery_list}</font>";
				break;
			case "2":
				return "<font color='blue'>{$Think.lang.delivery_note}</font>";
			  break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
	
	function formatLogisticsOrderPaystatus(val,row){
		switch(val)
		{
			case "0":
				return "<font color='red'>{$Think.lang.unpaid}</font>";
				break;
			case "1":
				return "<font color='green'>{$Think.lang.paid}</font>";
			  break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
function refishLogisticsOrderGoing(clientid){
	addTabBase($('#waybill_information').get(0),"__URL__/../LogisticsOrder/toInfoList?clientid="+clientid,true);
}

function refishLogisticsOrderDoed(clientid){
	addTabBase($('#waybill_history').get(0),"__URL__/../LogisticsOrder/toHistoryList?clientid="+clientid,true);
}
function formatSysClientOperate(val,row){
	return "<a href=\"javascript:refishLogisticsOrderGoing("+row.id+")\" >{$Think.lang.have_in_hand}</a>&nbsp;&nbsp;&nbsp;&nbsp;"
	+"<a  href=\"javascript:refishLogisticsOrderDoed("+row.id+")\" >{$Think.lang.has_been_completed}</a>&nbsp;&nbsp;&nbsp;&nbsp;"
	+"<a href='javascript:detailAccessBox()'>{$Think.lang.box_state}</a>";
}


function formatNormStatus(val,row){
	switch(val)
	{
		case "0":
			return "<font >{$Think.lang.large}</font>";
			break;
		case "1":
			return "<font >{$Think.lang.medium}</font>";
		  break;
		case "2":
			return "<font >{$Think.lang.small}</font>";
		  break;
		default:
			return "{$Think.lang.undefined}";
	}
}



function formatLogisticsCourierStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='red'>{$Think.lang.useing}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatBoxIsOpenStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='green'>{$Think.lang.s0010}</font>";
		break;
	case "1":
		return "<font color='red'>{$Think.lang.s0009}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

	