/**
 * 记录表格的格式化
 */
/*带时间*/  
function formatDateBoxFull(value,row) {  
    if (value == null || value == '') {  
        return '';  
    }
    var dt = new Date();
    dt.setTime(value+"000");
    /* return  dt.Format("yyyy-MM-dd hh:mm:ss.S");   */
    return  dt.Format("yyyy-MM-dd hh:mm:ss");  
}

/*不带时间*/  
function formatDateBox(value,row) {  
    if (value == null || value == '') {  
        return '';  
    }
    var dt = new Date();
    dt.setTime(value+"000");
    return  dt.Format("yyyy-MM-dd");  
}

/*带时间*/  
function formatDateBoxFullByOption(dt) {  
    return  dt.Format("yyyy-MM-dd hh:mm:ss");  
}

/* 时间戳转日期 */
function timeStamp(value){
	if(value == null || value == '') {
		return new Date(); 
	} 
	var dt = new Date();
	dt.setTime(value+"000");
	return dt; 
}
/**===================================================================Cardinfo-list.html================== */
function formatType1(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>普通用户</font>";
		break;
	case "2":
		return "<font color='green'>管理员</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}
	
function formatStatus1(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='green'>注册未审核</font>";
	  break;
	case "2":
		return "<font color='green'>审核通过</font>";
	  break;
	case "3":
		return "<font color='green'>审核退回</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

/**===================================================================Cardrecord-list.html================== */
function formatCardrecordOrder(val,row){
	return row.orderno;
}

function formatCardrecordCard(val,row){
	return row.cardno+"_"+row.cardaccount;
}

function formatType2(val,row){
	switch(val)
	{
	case "10":
		return "<font color='red'>用户验证 </font>";
		break;
	case "11":
		return "<font color='green'>客户端扣费</font>";
	  break;
	case "12":
		return "<font color='green'>后台充值</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}
/**===================================================================Clientconfig-list.html================== */
function formatClient(val,row){
	return row.clientname+"_"+row.clientcsn;
}

/**===================================================================Order-list.html================== */
/*
1：价目表计费 2：费率计费
*/
function formatOrdertype(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>价目表计费</font>";
		break;
	case "2":
		return "<font color='green'>费率计费</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatOrderStore(val,row){
	return row.storename+"_"+row.storecode;
}

function formatOrderClient(val,row){
	return row.clientname+"_"+row.clientcsn;
}

function formatStatus2(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>订单终结</font>";
		break;
	case "1":
		return "<font color='green'>订单进行</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

/**===================================================================Orderdetail-list.html================== */
function formatOrderdetail(val,row){
	return row.storename+row.storecode+"/"+row.clientname+row.clientcsn+"/"+row.orderno;
}

function formatStatus3(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>订单终结</font>";
		break;
	case "1":
		return "<font color='green'>订单进行</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

/**===================================================================Product-list.html================== */
function formatType3(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>实物类商品</font>";
		break;
	case "2":
		return "<font color='green'>服务类商品</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatStore(val,row){
	return row.storename+"/"+row.storecode;
}
/**===================================================================Rate-list.html================== */

/*function formatStore(val,row){
	return row.storename+"/"+row.storecode;
}*/

function formatRateType(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>纸币</font>";
		break;
	case "2":
		return "<font color='green'>硬币</font>";
	  break;
	case "3":
		return "<font color='green'>会员卡</font>";
	  break;
	case "4":
		return "<font color='green'>信用卡1</font>";
	  break;
	case "5":
		return "<font color='green'>信用卡2</font>";
	  break;
	case "6":
		return "<font color='green'>信用卡3</font>";
	  break;
	case "7":
		return "<font color='green'>重量</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatRateValid(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>无效</font>";
		break;
	case "1":
		return "<font color='green'>有效</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
/**===================================================================Store-list.html================== */
function formatStoreStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='red'>注册未审核</font>";
	  break;
	case "2":
		return "<font color='green'>审核通过</font>";
	  break;
	case "3":
		return "<font color='red'>审核退回</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
/**===================================================================Sysauthorization-list.html-allotAuth.html================== */
function formatSysautTarget(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>无</font>";
		break;
	case "1":
		return "<font color='green'>新窗口</font>";
	  break;
	case "2":
		return "<font color='green'>弹出层</font>";
	  break;
	case "3":
		return "<font color='green'>提示框</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatSysautStatus(val,row){
	
		switch(val)
		{
		case "0":
			return "<font color='red'>{$Think.lang.stop}</font>";
			break;
		case "1":
			return "<font color='green'>{$Think.lang.useing}</font>";
		  break;
		
		default:
			return "{$Think.lang.undefined}";
		}
}
/**===================================================================Sysbox-list.html-milkBoxList.html================== */
function formatBoxX(val,row){
	return row.clientcsn+"_"+row.clientname;
}

function formatStatus4(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatStorageStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='green'>{$Think.lang.empty}</font>";
		break;
	case "1":
		return "<font color='red'>{$Think.lang.full}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatType4(val,row){
	switch(val)
	{
	case "1":
		return "充电柜";
		break;
	case "2":
		return "储物柜";
	  break;
	case "3":
		return "冷藏柜";
	  break;
	case "4":
		return "恒温柜";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}



function formatBox2Status(val,row){
	switch(val)
	{
	
	case "0":
		return "<font color='blue'>{$Think.lang.s0005}</font>";
	  break;
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
		break;
	case "2":
		return "<font color='red'>{$Think.lang.stop}</font>";
	  break;
	
	
	default:
		return "{$Think.lang.undefined}";
	}
}

/**===================================================================Sysboxrecord-list.html================== */
function formatOperatetype(val,row){
	switch(val)
	{
	case "10":
		return "<font color='red'>远程开门</font>";
		break;
	case "11":
		return "<font color='green'>关闭柜门</font>";
	  break;
	case "12":
		return "<font color='#CD8162'>柜门启用</font>";
	  break;
	case "13":
		return "<font color='#CD8162'>柜门停用 </font>";
	  break;
	case "21":
		return "<font color='#CD8162'>客户存入开门 </font>";
	  break;
	case "22":
		return "<font color='#CD8162'>客户存入关门</font>";
	  break;
	case "23":
		return "<font color='#CD8162'>快递员取物开门</font>";
	  break;
	case "24":
		return "<font color='#CD8162'>快递员取物关门</font>";
	  break;
	case "25":
		return "<font color='#CD8162'>快递员存入开门 </font>";
	  break;
	case "26":
		return "<font color='#CD8162'>快递员存入关门</font>";
	  break;
	case "27":
		return "<font color='#CD8162'>客户取物开门</font>";
	  break;
	case "28":
		return "<font color='#CD8162'>客户取物关门</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}


function formatBox(val,row){
	return row.csn+"/"+row.boxno+"号柜门";
}
/**===================================================================Sysclient-list.html-milkClientList.html-milkStatusList.html================== */
function aaa(){
	
}
function formatSee(val,row){
	return "aaa";
}
function formatType5(val,row){
	switch(val)
	{
	case "1":
		return "手机充电柜";
	  break;
	case "2":
		return "生鲜投递柜";
	  break;
	case "3":
		return "洗衣柜";
	  break;
	case "4":
		return "自动售货机";
	  break;
	case "5":
		return "自动化仓库";
	  break;
	case "6":
		return "储物柜";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatStatus5(val,row){
	switch(val)
	{
	case "0":
		return "<font color='#804040'>{$Think.lang.cancel}</font>";
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
	  break;
	case "2":
		return "<font color='red'>{$Think.lang.stop}</font>";
	  break;
	case "3":
		return "<font color='blue'>维护</font>";
	  break;
	case "4":
		return "<font color='#EAC100'>注册待审核</font>";
	  break;
	case "5":
		return "<font color='#FF5809'>注销待审核</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatIsOpen(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.close}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.open}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatIsOnLine(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.unlink}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.online}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}


function formatSysClientListType(val,row){
	switch(val)
	{
	case "1":
		return "{$Think.lang.s0011}";
	  break;
	case "2":
		return "{$Think.lang.s0012}";
	  break;
	case "3":
		return "{$Think.lang.s0013}";
	  break;
	case "4":
		return "{$Think.lang.s0014}";
	  break;
	case "5":
		return "{$Think.lang.s0015}";
	  break;
	case "6":
		return "{$Think.lang.s0016}";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatSysClientListStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='#804040'>{$Think.lang.logout}</font>";
	case "1":
		return "<font color='green'>{$Think.lang.starting}</font>";
	  break;
	case "2":
		return "<font color='red'>{$Think.lang.stoping}</font>";
	  break;
	case "3":
		return "<font color='blue'>维护</font>";
	  break;
	case "4":
		return "<font color='#EAC100'>{$Think.lang.register_to_be_audited}</font>";
	  break;
	  /*
	case "5":
		return "<font color='#FF5809'>注销待审核</font>";
	  break;*/
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatSysClientListIsOpen(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.close}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.open}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}



function formatSysClientListIsOnLine(val,row){
	if(typeof val == "string"){
		var aa = Date.parse(new Date())/1000 - parseInt(val);
		return ((aa > 30)?"<font color='red'>{$Think.lang.unlink}</font>":"<font color='green'>{$Think.lang.online}</font>");//+aa
	}else{
		return "{$Think.lang.undefined}";
	}

}
function formatIsremotepower(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.no}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.yes}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}


/**===================================================================Syscommand-list.html================== */

function formatClient(val,row){
	return val+"_"+row.clientcsn+"_"+row.clientname;
}
function formatOtype(val,row){
	
	switch(val)
	{
	case "101":
		return "<font color='red'>客户端注销</font>";
		break;
	case "201":
		return "<font color='green'>远程开门</font>";
	  break;
	case "202":
		return "<font color='#CD8162'>远程重启</font>";
	  break;
	case "203":
		return "<font color='#CD8162'>{$Think.lang.stop} </font>";
	  break;
	case "204":
		return "<font color='#CD8162'>{$Think.lang.useing} </font>";
	  break;
	case "205":
		return "<font color='#CD8162'>是否接受远程操作</font>";
	  break;
	case "301":
		return "<font color='#CD8162'>手机充电柜费率调整</font>";
	  break;
	case "302":
		return "<font color='#CD8162'>远程电源控制</font>";
	  break;
	case "303":
		return "<font color='#CD8162'>求助号码下发</font>";
	  break;
	case "304":
		return "<font color='#CD8162'>店商信息下发</font>";
	  break;
	case "305":
		return "<font color='#CD8162'>快递员信息下发</font>";
	  break;
	case "306":
		return "<font color='#CD8162'>价目表信息下发</font>";
	  break;
	case "307":
		return "<font color='#CD8162'>洗衣柜费率下发</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatStatus6(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>待执行</font>";
		break;
	case "1":
		return "<font color='green'>已执行</font>";
	  break;
	case "2":
		return "<font color='#CD8162'>过期未执行</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
/**===================================================================Syscompany-list.html================== */
function formatSyscompanyStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}



function formatSyscompanyType(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>民营 </font>";
		break;
	case "2":
		return "<font color='green'>国企</font>";
	  break;
	case "3":
		return "<font color='green'>外资</font>";
	  break;
	case "4":
		return "<font color='green'>合资</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}
/**===================================================================Sysconfig-list.html================== */


function formatValue(val,row){
	switch(row.key)
	{
	case "boxtype":
		switch(val){
		case "1":
			return "充电柜";
			break;
		case "2":
			return "储物柜";
			break;
		case "3":
			return "冷藏柜";
			break;
		case "4":
			return "恒温柜";
			break;
		}
		break;
	
	default:
		return val;
	}
}
function formatStatus7(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stoping}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.starting}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}


/**===================================================================Sysrole-list.html================== */
function formatSysroleStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

/**===================================================================Syssms-list.html================== */
function formatSyssmsStencilid(val,row){
	return row.stencil;
}
function formatSyssmsOrder(val,row){
	return row.orderno;
}
function formatSyssmsStatus(val,row){
		switch(val)
		{
		case "0":
			return "<font color='red'>发送失败</font>";
			break;
		case "1":
			return "<font color='green'>发送成功</font>";
		  break;
		case "2":
			return "<font color='red'>发送超时</font>";
		  break;
		default:
			return "{$Think.lang.undefined}";
		}
}
/**===================================================================Syssmsstencil-list.html================== */

function formatSyssmsstencilType(val,row)
{
	
	switch(val)
	{
	case "1":
		return "<font color='red'>短息</font>";
		break;
	case "2":
		return "<font color='green'>邮件</font>";
	  break;
	case "3":
		return "<font color='green'>微信</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatSyssmsstencilCode(val,row)
{
	
	switch(val)
	{
	case "10":
		return "<font color='red'>{$Think.lang.the_customer_login_authentication}</font>";
		break;
	case "11":
		return "<font color='red'>{$Think.lang.deposited_in_the_goods_successfully}</font>";
		break;
	case "12":
		return "<font color='green'>{$Think.lang.items_stored}</font>";
	  break;
	case "13":
		return "<font color='green'>{$Think.lang.courier_items_are_removed}</font>";
	  break;
	case "14":
		return "<font color='green'>{$Think.lang.items_are_stored_courier}</font>";
	  break;
	case "15":
		return "<font color='green'>{$Think.lang.items_taken_out_customers}</font>";
	  break;
	case "16":
		return "<font color='green'>{$Think.lang.late_remind}</font>";
	  break;
	case "17":
		return "<font color='green'>{$Think.lang.goods_return}</font>";
	  break;
	case "18":
		return "<font color='green'>{$Think.lang.sms_to_promote}</font>";
	  break;
	case "19":
		return "<font color='green'>{$Think.lang.expiration_reminder}</font>";
	  break;
	case "20":
		return "<font color='green'>{$Think.lang.two_hours_expiration_reminder}</font>";
	  break;
	case "21":
		return "<font color='green'>{$Think.lang.consumer_credentials}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
function formatSyssmsstencilStatus(val,row)
{
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}
/**===================================================================Sysuser-list.html================== */


function formatSysuserType(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>{$Think.lang.the_average_user}</font>";
		break;
	case "2":
		return "<font color='red'>{$Think.lang.the_administrator}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatSysuserStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='red'>{$Think.lang.useing}</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
}

/**===================================================================CertificateInfo-list.html================== */
function formatCertificateInfoSex(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>男</font>";
		break;
	case "2":
		return "<font color='green'>女</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
	
}

function formatCertificateInfoType(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>公共场所-服务</font>";
		break;
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
	
}

function formatCertificateInfoValid(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>无效</font>";
		break;
	case "1":
		return "<font color='green'>有效</font>";
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
	
}
/**===================================================================CertificateAttachment-list.html================== */

function formatCertificateAttachmentType(val,row){
	switch(val)
	{
	case "1":
		return "<font color='red'>照片</font>";
		break;
	  break;
	
	default:
		return "{$Think.lang.undefined}";
	}
	
}


function formatCertificateAttachmentCertificate(val,row){
	return row.name+"("+row.code+")"
}

function myformatter(date){
	var y = date.getFullYear();
	var m = date.getMonth()+1;
	var d = date.getDate();
	return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
}

function myparser(s){
	if (!s) return new Date();
	var ss = (s.split('-'));
	var y = parseInt(ss[0],10);
	var m = parseInt(ss[1],10);
	var d = parseInt(ss[2],10);
	if (!isNaN(y) && !isNaN(m) && !isNaN(d)){
		return new Date(y,m-1,d);
	} else {
		return new Date();
	}
}

/**===================================================================SysSmsstencil-accessSmsstencilList.html================== */
//function formatStatus7(val,row);

function formatType6(val,row){
	
	switch(val)
	{
	case "1":
		return "<font color='red'>{$Think.lang.sms}</font>";
		break;
	case "2":
		return "<font color='green'>{$Think.lang.email}</font>";
	  break;
	case "3":
		return "<font color='green'>{$Think.lang.wechat}</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatCode(val,row){
	switch(val)
	{
	case "10":
		return "<font color='green'>{$Think.lang.the_customer_login_authentication}</font>";
		break;
	case "11":
		return "<font color='green'>{$Think.lang.deposited_in_the_goods_successfully}</font>";
	  break;
	
	case "12":
		return "<font color='green'>{$Think.lang.items_stored}</font>";
	  break;
	case "13":
		return "<font color='green'>{$Think.lang.courier_items_are_removed}</font>";
		break;
	case "14":
		return "<font color='green'>{$Think.lang.items_are_stored_courier}</font>";
	  break;
	case "15":
		return "<font color='green'>{$Think.lang.items_taken_out_customers}</font>";
	  break;
	 case "16":
		return "<font color='green'>{$Think.lang.late_remind}</font>";
	case "17":
		return "<font color='green'>{$Think.lang.goods_return}</font>";
	  break;
	case "18":
		return "<font color='green'>{$Think.lang.sms_to_promote}</font>";
	  break;
	case "19":
		return "<font color='green'>{$Think.lang.expiration_reminder}</font>";
	  break;
	case "20":
		return "<font color='green'>{$Think.lang.two_hours_expiration_reminder}</font>";
	  break;
	case "21":
		return "<font color='green'>{$Think.lang.consumer_credentials}</font>";
	  break;
	default:
		return "{$Think.lang.undefined}";
	}
}

/** ==================AccessOwner/list.html===================================== */

function formatAccessOwnerStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font color='red'>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font color='green'>{$Think.lang.useing}</font>";
		break;
	default:
		return "{$Think.lang.undefined}";
	}
}

/** ==================AccessStore/list.html===================================== */
function formatAccessStoreStatus(val,row){
	switch(val)
	{
	case "0":
		return "<font>{$Think.lang.stop}</font>";
		break;
	case "1":
		return "<font>{$Think.lang.useing}</font>";
		break;
	default:
		return "{$Think.lang.undefined}";
	}
}

function formatOrderDetailStatus(val,row)
	{
		switch(val)
		{
			case "1":
				return "<font color='black'>正常 </font>";
				break;
			case "0":
				return "<font color='red'>作废</font>";
			  	break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
	function formatOrderStatus(val,row)
	{
		switch(val)
		{
			case "2":
				return "<font color='black'>{$Think.lang.receiving}</font>";
			  	break;
			case "1":
				return "<font color='black'>{$Think.lang.s0002}</font>";
				break;
			case "0":
				return "<font color='green'>{$Think.lang.s0001}</font>";
			  	break;
			default:
				return "";
		}
	}
	
	function formatOrderPayStatus(val,row)
	{
		switch(val)
		{
			case "1":
				return "<font color='green'>{$Think.lang.s0001} </font>";
				break;
			case "0":
				return "<font color='red'>{$Think.lang.s0002}</font>";
			  	break;
			default:
				return "";
		}
	}
	
	function formatOrderBalance(val,row)
	{
		switch(val)
		{
			case "1":
				return "<font color='green'>{$Think.lang.s0001} </font>";
				break;
			case "0":
				return "<font color='red'>{$Think.lang.s0002}</font>";
			  	break;
			default:
				return "";
		}
	}
 
	
	/** ==================AccessProduct/list.html===================================== */
	
	function formatAccessProductType(val,row){
		switch(val)
		{
			case "1":
				return "<font color='black'>实物类商品 </font>";
				break;
			case "2":
				return "<font color='red'>服务类商品</font>";
			  	break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
	function formatAccessProductValid(val,row){
		switch(val)
		{
			case "0":
				return "<font color='red'>无效  </font>";
				break;
			case "1":
				return "<font color='green'>有效</font>";
			  	break;
			default:
				return "{$Think.lang.undefined}";
		}
	}
	
	
	
	