.icon-add-item{
	background:url('blue/add-item.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-edit{
	background:url('blue/edit.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-delete-item{
	background:url('blue/delete-item.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-push-pin{
	background:url('blue/push-pin.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-shut-down{
	background:url('blue/shut-down.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-save{
	background:url('blue/save.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-reload{
	background:url('blue/reload.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-print{
	background:url('blue/print.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-scale{
	background:url('blue/scale.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-configuration{
	background:url('blue/configuration.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-configuration02{
	background:url('blue/configuration02.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-plane{
	background:url('blue/plane.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-lookup{
	background:url('blue/lookup.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-lock{
	background:url('blue/lock.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-unlock{
	background:url('blue/unlock.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-dollar{
	background:url('blue/dollar.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-recycle-full{
	background:url('blue/recycle-full.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-next-item{
	background:url('blue/next-item.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-badge{
	background:url('blue/badge.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-fancy-globe{
	background:url('blue/fancy-globe.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-cloud-filled{
	background:url('blue/cloud-filled.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-cloud-outline{
	background:url('blue/cloud-outline.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-network-pc{
	background:url('blue/network-pc.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-usb{
	background:url('blue/usb.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-download{
	background:url('blue/download.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-copy-item{
	background:url('blue/copy-item.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-tag{
	background:url('blue/tag.png') no-repeat center center;
	background-size: 20px 20px;
}
.icon-satellite{
	background:url('blue/satellite.png') no-repeat center center;
	background-size: 20px 20px;
}

