<php>if( isHasAuth('/Admin/Logistics/menu') ) {</php>
		<div title="{$Think.lang.intelligent_logistics_cabinet_management}" data-options="iconCls:'icon-blank'" style="overflow: auto; padding: 5px 20px 5px 20px">
			<!-- {$result.id}--{$result.data}  -->
			<ul class="easyui-tree" data-options="animate:true, lines:true">
				<if condition="isHasAuth('/Admin/Logistics/menuClient')">
					<li>
						<span><a class="panel-title">{$Think.lang.terminal_management}</a></span>
						<ul>
							<if condition="isHasAuth('/Admin/LogisticsClient/logisticsClientList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsClient/logisticsClientList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_information}">{$Think.lang.terminal_information}</a>
								</li>
							
							<if condition="isHasAuth('/Admin/LogisticsClient/logisticsStatusList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsClient/logisticsStatusList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.running_state}">{$Think.lang.running_state}</a>
								</li>
							
							<if condition="isHasAuth('/Admin/LogisticsBoxrecord/logisticsHistoryList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsBoxrecord/logisticsHistoryList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.using_the_history}">{$Think.lang.using_the_history}</a>
								</li>
							<li><!-- Abnormal cupboard door -->
								<a href="#" onclick="addTab(this,'__URL__/../SysBox/toErrList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.s0029}">{$Think.lang.s0029}</a>
							</li>
						</ul>
					</li>
				</if>
				<if condition="isHasAuth('/Admin/Logistics/menuConfig')">
					<li>
						<span><a class="panel-title">{$Think.lang.system_configuration}</a></span>
						<ul>
							<if condition="isHasAuth('/Admin/LogisticsCourier/toList')">
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsCourier/toList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.express_company}">{$Think.lang.express_company}</a>
								</li>
							</if>
							
							<if condition="isHasAuth('/Admin/LogisticsCardinfo/toList')">
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsCardinfo/toList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.courier}">{$Think.lang.courier}</a>
								</li>
							</if>
							
							<if condition="isHasAuth('/Admin/LogisticsConfig/logisticsConfigList')">
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsConfig/logisticsConfigList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.parameter_configuration}">{$Think.lang.parameter_configuration}</a>
								</li>
							</if>
						</ul>
					</li>
				</if>
				<if condition="isHasAuth('/Admin/Logistics/menuOrder')">
					<li>
						<span><a class="panel-title">{$Think.lang.waybill_management}</a></span>
						<ul>
							<if condition="isHasAuth('/Admin/LogisticsOrder/logisticsOrderList')"></if>
								<li>
									<a href="#" onclick="addTabBase(this,'__URL__/../LogisticsOrder/toInfoList',true)" style="text-decoration: none; color: #0E2D5F" id="waybill_information" title="{$Think.lang.waybill_information}">{$Think.lang.waybill_information}</a>
								</li>
								<!-- <li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsOrder/toList')" style="text-decoration: none; color: #0E2D5F" title="运单信息test">运单信息test</a>
								</li> -->
							
							<if condition="isHasAuth('/Admin/LogisticsOrder/logisticsHistoryList')"></if>
								<li>
									<a href="#" onclick="addTabBase(this,'__URL__/../LogisticsOrder/toHistoryList',true)" style="text-decoration: none; color: #0E2D5F" id="waybill_history" title="{$Think.lang.waybill_history}">{$Think.lang.waybill_history}</a>
								</li>
								
								<li><!-- Abnormal cupboard door -->
								<a href="#" onclick="addTabBase(this,'__URL__/../LogisticsOrder/overdueList',true)" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.s0030}">{$Think.lang.s0030}</a>
								</li>
								
							
						</ul>
					</li>
				</if>
				<if condition="isHasAuth('/Admin/Logistics/menuSms')">
					<li>
						<span><a class="panel-title">{$Think.lang.message_center}</a></span>
						<ul>
							<if condition="isHasAuth('/Admin/LogisticsSmsstencil/logisticsSmsstencilList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsSmsstencil/logisticsSmsstencilList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.message_template}">{$Think.lang.message_template}</a>
								</li>
							
							<if condition="isHasAuth('/Admin/LogisticsSms/logisticsSmsList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsSms/logisticsSmsList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.message_history}">{$Think.lang.message_history}</a>
								</li>
							
						</ul>
					</li>
				</if>
				<if condition="isHasAuth('/Admin/Logistics/menuStatistics')">
					<li>
						<span><a class="panel-title">{$Think.lang.statistical_analysis}</a></span>
						<ul>
							<if condition="isHasAuth('/Admin/LogisticsStatistics/logisticsStatistics1')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsStatistics/logisticsStatistics1')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_usage}">{$Think.lang.terminal_usage}</a>
								</li>
							
							<if condition="isHasAuth('/Admin/LogisticsStatistics/logisticsStatistics2')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsStatistics/logisticsStatistics2')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.sales_statistics}">{$Think.lang.sales_statistics}</a>
								</li>
							<if condition="isHasAuth('/Admin/LogisticsStatistics/logisticsStatistics3')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../LogisticsStatistics/logisticsStatistics3')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.s0038}">{$Think.lang.s0038}</a>
								</li>
						</ul>
					</li>
				</if>
			</ul>
		</div>
	<php>}</php>