<php>if( isHasAuth('/Admin/Charge/menu') ) {</php>
		
		<div title="{$Think.lang.s0011}" data-options="iconCls:'icon-blank'" style="overflow: auto; padding: 5px 20px 5px 20px">
			<!-- {$result.id}--{$result.data}  -->
			<ul class="easyui-tree" data-options="animate:true, lines:true">
				<if condition="isHasAuth('/Admin/Charge/menuClient')">
					<li>
						<span><a class="panel-title">{$Think.lang.terminal_management}</a></span>
						<ul>
							<if condition="isHasAuth('/Admin/ChargeClient/chargeClientList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../ChargeClient/chargeClientList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_information}">{$Think.lang.terminal_information}</a>
								</li>
							
							<if condition="isHasAuth('/Admin/ChargeClient/chargeStatusList')"></if>
								<li>
									<a href="#" onclick="addTab(this,'__URL__/../ChargeClient/chargeStatusList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.running_state}">{$Think.lang.running_state}</a>
								</li>
							
						
						</ul>
					</li>
				</if>
				
			</ul>
		</div>
	<php>}</php>
