<php>if( isHasAuth('/Admin/Vending/menu') ) {</php>
				<div title="{$Think.lang.automatic_container_platform}" data-options="iconCls:'icon-blank'" style="overflow: auto; padding: 5px 20px 5px 20px">
					<!-- {$result.id}--{$result.data}  -->
					<ul class="easyui-tree" data-options="animate:true,lines:true">
						<if condition="isHasAuth('/Admin/Vending/menuClient')">
							<li>
								<span><a class="panel-title">{$Think.lang.terminal_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/SysClient/milkClientList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysClient/milkClientList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_configuration}">{$Think.lang.terminal_configuration}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysBox/milkBoxList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysBox/milkBoxList')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.box_configuration}">{$Think.lang.box_configuration}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysClient/milkStatusList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysClient/milkStatusList')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.running_state}">{$Think.lang.running_state}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Vending/menuProduct')">
							<li>
								<span><a class="panel-title">{$Think.lang.commodity_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/VendingProduct/milkProductList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingProduct/milkProductList')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.commodity_information}">{$Think.lang.commodity_information}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingConsignment/milkConsignmentList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingConsignment/milkConsignmentList')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.cargo_management}">{$Think.lang.cargo_management}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingStorage/milkStorageRecord')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingStorage/milkStorageRecord')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.cargo_record}">{$Think.lang.cargo_record}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingOrder/milkOrderList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingOrder/milkOrderList')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.sales_data}">{$Think.lang.sales_data}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Vending/menuConsumer')">
							<li>
								<span><a class="panel-title">{$Think.lang.card_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/VendingConsumer/milkConsumerList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingConsumer/milkConsumerList')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.card_management}">{$Think.lang.card_management}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingConsumer/milkRecharge')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingConsumer/milkRecharge')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.rush_card}">{$Think.lang.rush_card}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingConsumerrecord/milkRechargeRecord')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingConsumerrecord/milkRechargeRecord')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.rush_record}">{$Think.lang.rush_record}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingConsumerrecord/milkConsumingRecord')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingConsumerrecord/milkConsumingRecord')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.records_of_consumption}">{$Think.lang.records_of_consumption}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Vending/menuStatistics')">
							<li>
								<span><a class="panel-title"  >{$Think.lang.statistical_analysis}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/VendingStorage/milkStatistics1')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingStorage/milkStatistics1')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.terminal_sales}">{$Think.lang.terminal_sales}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingStorage/milkStatistics2')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingStorage/milkStatistics2')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.monthly_sales_situation}">{$Think.lang.monthly_sales_situation}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/VendingStorage/milkStatistics3')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../VendingStorage/milkStatistics3')" style="text-decoration: none; color: #0E2D5F"  title="{$Think.lang.classification_of_sales_ratio}">{$Think.lang.classification_of_sales_ratio}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
					</ul>
				</div>
			<php>}</php>