<php>if( isHasAuth('/Admin/Test/menu') ) {</php>
				<div title="{$Think.lang.develop_test_platform}" data-options="iconCls:'icon-blank'" style="padding:10px;overflow:auto;">
					<!-- {$result.id}--{$result.data}  -->
					<ul class="easyui-tree">
						<if condition="isHasAuth('/Admin/SysConfig/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysConfig/toList')" class="panel-title" style="text-decoration:none;"  title="系统配置">系统配置</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysClient/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysClient/toList')" class="panel-title" style="text-decoration:none;"  title="{$Think.lang.terminal_information}">{$Think.lang.terminal_information}</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysBox/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysBox/toList')" class="panel-title" style="text-decoration:none;"  title="柜箱信息">柜箱信息</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysBoxrecord/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysBoxrecord/toList')" class="panel-title" style="text-decoration:none;"  title="柜箱使用记录">柜箱使用记录</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysCommand/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysCommand/toList')" class="panel-title" style="text-decoration:none;"  title="下发命令">下发命令</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysClientconfig/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysClientconfig/toList')" class="panel-title" style="text-decoration:none;"  title="终端扩展配置">终端扩展配置</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/VendingOrder/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../VendingOrder/toList')" class="panel-title" style="text-decoration:none;"  title="售货机_订单管理">售货机_订单管理</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/VendingProduct/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../VendingProduct/toList')" class="panel-title" style="text-decoration:none;"  title="售货机_产品信息">售货机_产品信息</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/VendingStore/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../VendingStore/toList')" class="panel-title" style="text-decoration:none;"  title="售货机_店商信息">售货机_店商信息</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/AccessCardrecord/toList')">	
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../AccessCardrecord/toList')" class="panel-title" style="text-decoration:none;"  title="存取柜_用户卡使用记录">存取柜_用户卡使用记录</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/AccessOrderdetail/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../AccessOrderdetail/toList')" class="panel-title" style="text-decoration:none;"  title="存取柜_订单详情">存取柜_订单详情</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/AccessRate/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../AccessRate/toList')" class="panel-title" style="text-decoration:none;"  title="存取柜_费率管理">存取柜_费率管理</a></span>
							</li>
						</if>
						
						<if condition="isHasAuth('/Admin/SysItem/toList')">
							<li >
									<span><a href="#" onclick="addTab(this,'__URL__/../SysItem/toList')" class="panel-title" style="text-decoration:none;"  title="代码字典">代码字典</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysLog/toList')">
							<li >
									<span><a href="#" onclick="addTab(this,'__URL__/../SysLog/toList')" class="panel-title" style="text-decoration:none;"  title="系统日志">系统日志</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysSms/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysSms/toList')" class="panel-title" style="text-decoration:none;"  title="发送数据">发送数据</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysSmsstencil/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../SysSmsstencil/toList')" class="panel-title" style="text-decoration:none;"  title="信息模板">信息模板</a></span>
							</li>
						</if>
					    <if condition="isHasAuth('/Admin/AccessCardinfo/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../AccessCardinfo/toList')" class="panel-title" style="text-decoration:none;"  title="存取柜_用户卡列表">存取柜_用户卡列表</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/CertificateInfo/toList')">	
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../CertificateInfo/toList')" class="panel-title" style="text-decoration:none;"  title="证件打印">证件打印</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/CertificateAttachment/toList')">	
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../CertificateAttachment/toList')" class="panel-title" style="text-decoration:none;"  title="证件附件">证件附件</a></span>
							</li>
						</if>
					</ul>
				</div>
			<php>}</php>