<script type="text/javascript">


/**
 * 删除数据操作
 */
function doDel(str ,controller){
	var row = $('#dg'+str).datagrid('getSelected');
	if (row){
		$.messager.confirm('{$Think.lang.warning}', '{$Think.lang.are_you_sure}?', function(r){
			if (r){
				 var map = new HashMap(); 
				 map.put("id",row.id); 
				 ajaxPost("__URL__/../"+controller+"/ajaxDel",map);
				 $('#dg'+str).datagrid('reload');
			}
		});
	}else{
		$.messager.alert('{$Think.lang.warning}','{$Think.lang.please_select_a_data}!');
	}
}

/**
 * 注销数据操作（改变状态）
 */
function doCancel(str ,controller){
	var row = $('#dg'+str).datagrid('getSelected');
	if (row){
		$.messager.confirm('{$Think.lang.warning}', '{$Think.lang.are_you_sure}?', function(r){
			if (r){
				 var map = new HashMap(); 
				 map.put("id",row.id); 
				 ajaxPost("__URL__/../"+controller+"/ajaxCancel",map);
				 $('#dg'+str).datagrid('reload');
			}
		});
	}else{
		$.messager.alert('{$Think.lang.warning}','{$Think.lang.please_select_a_data}!');
	}
}

/**
 * 打开添加数据界面
 */
function toAdd(str){
	$("#ffxAdd"+str).form('disableValidation');
	$("#ffxAdd"+str).form('clear');
	$('#dlgAdd'+str).dialog('open');
}


/**
 * 数据添加操作
 */
function doAdd(str,controller){
	$("#ffxAdd" + str).form('enableValidation');
	$("#ffxAdd" + str).form('submit', {
		url : '__URL__/../' + controller + '/ajaxAdd',
		success : function(d) {
			var json = $.parseJSON(d);
			if (json.msg == "ok") {
			    	$.messager.show({
			       title:'成功 ',
			       msg:json.msg
			     });
			     $('#dlgAdd'+str).dialog('close');
			     $('#dg'+str).datagrid('reload');    
			}else if (json.msg == "no") {
				 $.messager.alert('{$Think.lang.warning}',json.data,'error');   
			}else{
			     $.messager.alert('{$Think.lang.warning}','新增数据不成功 !','error');
			 }
		}
	});
}

/**
 * 打开编辑数据界面
 */
function toEdit(str,controller){
	$("#ffxEdit"+str).form('disableValidation');
	var row = $('#dg'+str).datagrid('getSelected');
	if (row){
		$("#ffxEdit"+str).form('clear');
		
		$('#ffxEdit'+str).form('load', '__URL__/../'+controller+'/ajaxGetDataById?id='+row.id);
		
		$('#dlgEdit'+str).dialog('open');
	}else{
		$.messager.alert('{$Think.lang.warning}','{$Think.lang.please_select_a_data}!');
	}
}

/**
 * 编辑数据操作
 */
function doEdit(str,controller){
	$("#ffxEdit" + str).form('enableValidation');
	$("#ffxEdit"+str).form('submit', {
		url : '__URL__/../'+controller+'/ajaxEdit',
		success : function(d) {
			var json = $.parseJSON(d);
			if (json.msg == "ok") {
			    	$.messager.show({
			       title:'成功 ',
			       msg:json.msg
			     });
			     $('#dlgEdit'+str).dialog('close');
			     $('#dg'+str).datagrid('reload');    
			}else if (json.msg == "no") {
				 $.messager.alert('{$Think.lang.warning}',json.data,'error');   
			}else{
			     $.messager.alert('{$Think.lang.warning}','编辑数据不成功 !','error');
			 }
		}
	});
}


function ajaxPost(url,map){
	var win = $.messager.progress({
		title:'请等待',
		msg:'保存中...'
	});
	var urldata = "";
	var keySet = map.keySet(); 
	for(var i in keySet){ 
	  if(0 != i)		  
		  urldata += "&";
	  urldata += keySet[i]+"="+map.get(keySet[i])
	}
	$.ajax({
		async:false,/* 同步通讯*/
		type:"POST",/*传输方式*/
		cache:false,/*下载最新数据（无缓存）*/
		url:url,/*请求地址*/
		data:urldata,
		success:function(obj){
			$.messager.progress('close');
			var obj = $.parseJSON(obj);
			if("ok" == obj.msg){
				$.messager.show({
					title:'{$Think.lang.warning}',
					msg:'{$Think.lang.operation_is_successful}!',
					showType:'show'
				});
			}else{
				$.messager.alert('{$Think.lang.warning}','{$Think.lang.the_failure_of_operation}!','error');
			}
		}
	});
}

function ajaxGet(url,map){
	var win = $.messager.progress({
		title:'请等待',
		msg:'保存中...'
	});
	var urldata = "";
	var keySet = map.keySet(); 
	for(var i in keySet){ 
	  if(0 != i)		  
		  urldata += "&";
	  urldata += keySet[i]+"="+map.get(keySet[i])
	}
	$.ajax({
		async:false,/* 同步通讯*/
		type:"GET",/*传输方式*/
		cache:false,/*下载最新数据（无缓存）*/
		url:url,/*请求地址*/
		data:urldata,
		success:function(obj){
			$.messager.progress('close');
			var obj = $.parseJSON(obj);
			if("ok" == obj.msg){
				$.messager.show({
					title:'{$Think.lang.warning}',
					msg:'操作成功!',
					showType:'show'
				});
			}else{
				$.messager.alert('{$Think.lang.warning}','操作失败!','error');
			}
		}
	});
}

</script>
<style>
<!--
#loading{position: absolute; z-index: 1000; top: 30px; left: 0px; width: 100%; height: 100%;  text-align: center;}
.tabs li a.tabs-inner { padding: 0 25px;}
-->

.double-from-lable {text-align: right; width: 18%; padding-right: 10px}
.double-from-text {width: 32%; padding-right: 5px}
.single-from-lable {text-align: right; width: 36%; padding-right: 10px}
.single-from-text {width: 64%; padding-right: 5px}

.search-table-td{float:left;padding:0 0 0 10px;display:block;height:28px;line-height:28px;}
</style>
<div id="loading" class="panel-body"></div>
	<div id="dlgEditPassword" class="easyui-dialog" title="&nbsp;{$Think.lang.modify_password}" style="width:400px; height:220px; padding: 10px" data-options="
		iconCls:'icon-edit',
		closed:true,
		modal:true,
		toolbar: '#dlgEditPassword_toolbar'">
		<div class="easyui-panel" style="padding: 5px">
			<table border="0" width="100%" height="100%">
				<tr>
		   			<td class="single-from-lable">{$Think.lang.original_password}：</td>
		   			<td class="single-from-text">
		   				<input validType="length[4,32]" class="easyui-validatebox easyui-textbox" type="password" id="editUserOldPassword2" name="oldpassword" data-options=""></input>
		   			</td>
		   		</tr>
				<tr>
		   			<td class="single-from-lable">{$Think.lang.new_password}：</td>
		   			<td class="single-from-text">
		   				<input validType="length[4,32]" class="easyui-validatebox easyui-textbox" type="password" id="editUserPassword2" name="password" data-options=""></input>
		   			</td>
		   		</tr>
		   		<tr>
		   			<td class="single-from-lable">{$Think.lang.repeat_password}：</td>
		   			<td class="single-from-text">
		   				<input validType="equalTo['#editUserPassword2']" type="password"  class="easyui-validatebox easyui-textbox"
							name="passverify"  invalidMessage="{$Think.lang.two_input_passwords_do_not_match}" data-options=""></input>
					</td>
		   		</tr>
	   		</table>
	   	</div>
   		<script type="text/javascript">
	 		function doEditPassword(){
	 			var map = new HashMap(); 
	 			map.put("id",{$uid|getUserId}); 
	 			map.put("oldpassword",$('#editUserOldPassword2').val()); 
	 			map.put("password",   $('#editUserPassword2').val()); 
	 			
	 			ajaxPost("__URL__/../SysUser/ajaxEditPassword",map);
	 			$('#dlgEditPassword').dialog('close');
	 		}
   		</script>
	</div>
	<div id="dlgEditPassword_toolbar" style="height: auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit', plain:true"
			onclick="doEditPassword()">&nbsp;{$Think.lang.confirm}</a>
	</div>
		
	<div data-options="region:'north',border:false" style="height:55px;background-color:#E6EEF8;overflow: hidden;">
		<!-- <img src="/wf/Public/images/logo.png" />
		<div style="float:right;width:400px;height:50px;text-align:center;line-height:50px;">欢迎“{$uid|getUserInfo=###}”登录&nbsp;&nbsp;
			<a href="__URL__/../Index/outLogin" class="easyui-linkbutton" data-options="iconCls:'icon-shutdown'">安全退出</a>
		</div> -->
		<div id="header">
			<div class="headerNav">
				<img style="padding: 1px 1px 1px 10px" src="/{$Think.config.PROJECT}/Public/images/logo_w.png" />
				<div style="float: right; color: #FFFFFF; padding: 8px">
					{$Think.lang.welcome_to_you} {$uid|getUserInfo=###} | 
					<a href="#" style="color: #FFFFFF; text-decoration: none">{$Think.lang.back_to_home}</a> |
					<a href="#" style="color: #FFFFFF; text-decoration: none" onclick="$('#dlgEditPassword').dialog('open');">{$Think.lang.change_password}</a> |
					<a href="__URL__/../Index/outLogin" style="color: #FFFFFF; text-decoration: none">{$Think.lang.logging_out}</a>
				</div>
			</div>
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:30px;background-color:#E6EEF8;">
		<div style="text-align: center; width: 100%; padding-top: 7px">Copyright © 2016 - 2017 <a href="http://www.winnsen.com" target="_blank" style="color: #000000; text-decoration: none">winnsen.com</a>. All Rights Reserved.</div></div>
		<div data-options="region:'west',split:true,title:'{$Think.lang.main_menu}'" style="width:300px;">
		<div class="easyui-accordion" style="height:700px;" data-options="fit:true,border:false">
			
			
			<include file="default/Index/menuCharge" />
			<include file="default/Index/menuVending" />
			<include file="default/Index/menuCertificate" />
			<include file="default/Index/menuAccess" />
			<include file="default/Index/menuLogistics" />
			<include file="default/Index/menuTest" />
			<include file="default/Index/menuSeting" />
			
			
		</div>
	</div>
	<!-- <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>  -->

	<div data-options="region:'center'" >
		<div id="tt" class="easyui-tabs" data-options="fit:true,border:false,plain:true" ><!-- ,tabWidth:120 -->
			<div title="{$Think.lang.platform_home_page}" style="padding: 10px; overflow-x: hidden;">
				<!-- 首页预留 -->
				<!-- 
				<button onclick="testxx() ">测试</button>
				<script type="text/javascript">
				function testxx(){
					
					$('#ffSysclient2').form('submit', {
						url: 'aaaaaaaa'
						
					});
				}
				</script>
				{$uid|getLoginInfo}
				 
				 {$Think.version}<br />
				 
				  
				 {$Think.lang.lan_define}-->
				<div class="easyui-panel" style="width: 100%; border: 0px;">
					
					    <if condition="(C('SYSTEM_ID') eq 'vending')">
					   		<include file="default/Index/indexVending" />
					    <elseif condition="(C('SYSTEM_ID') eq 'certificate')"/>
							<include file="default/Index/indexCertificate" />
						<elseif condition="(C('SYSTEM_ID') eq 'access')"/>
							<include file="default/Index/indexAccess" />
					    <elseif condition="(C('SYSTEM_ID') eq 'logistics')" />
					    	<include file="default/Index/indexLogistics" />
					    <elseif condition="(C('SYSTEM_ID') eq 'charge')" />
					    	<include file="default/Index/indexCharge" />
					    <else />
					    
					    
					    aaaaaaa
					    </if>
					
					
				</div>
			</div>
		</div>onLoadEasyUI
		<script type="text/javascript">
			function addTab(a_obj, url){
				addTabBase(a_obj, url,false);
			}
			function addTabBase(a_obj, url,bool){
				if ($('#tt').tabs('exists', a_obj.title)&&!bool){/* 如果该标签已经存在，则选择该标签 ,bool=true 关闭重新打开 */
					$('#tt').tabs('select', a_obj.title);
					var pp = $('#tt').tabs('getSelected');
					
					var objs = pp.find(".easyui-datagrid");
					for(var i = 0;i < objs.length; i++){
						$(objs[i]).datagrid('reload');
					}
					
					var objs = pp.find(".easyui-combobox");
					for(var i = 0;i < objs.length; i++){
						$(objs[i]).combobox('reload');
					}
					
				} else {/* 如果该标签不存在，这新建该标签 */
					if (bool && $('#tt').tabs('exists', a_obj.title)){
						$('#tt').tabs('close', a_obj.title);
					}
					$('#tt').tabs('add',{
						title:a_obj.title,
						href: url,
						bodyCls:'content-doc',
						mode:true,
						closable:true,
						extractor:function(data){
							data = $.fn.panel.defaults.extractor(data);
							var tt = "<script>function onLoadEasyUI(){}</sc"+"ript>";
							data = tt+data;
							return data;
						},
					});
				}
			}
			
			function delTab(a_obj){
				if ($('#tt').tabs('exists', a_obj.title)){/* 如果该标签已经存在，则选择该标签 */
					$('#tt').tabs('close', a_obj.title);
				}
			}
			
			function onLoadEasyUI(){
				setInterval(intervalRun,25000);
			}
			$.parser.onComplete= function(){/* 网页加载过程的蒙板  */
				$("#loading").remove();
				onLoadEasyUI();
		    }
			$.extend($.fn.validatebox.defaults.rules, {/* 密码框与重复密码框是否一致验证 */
	        	/* 必须和某个字段相等 */
	       		equalTo: { validator: function (value, param) { return $(param[0]).val() == value; }, message: '字段不匹配' }
	        });
			
			if($.fn.propertygrid){/* 货道右侧产品上下货详情  */
			    $.fn.propertygrid.defaults.columns[0][0].title = ""; /* 对应Name   */
			    $.fn.propertygrid.defaults.columns[0][1].title = ""; /*  对应Value  */
			}  
			
			
			function intervalRun(){
				$('#mainclientinfo').panel('refresh');/* 刷新主页面的客户端状态 */
			}
		</script>
	
	</div>
