<php>if( isHasAuth('/Admin/Certificate/menu') ) {</php>
				<div title="{$Think.lang.documents_print_ark_platform}" data-options="iconCls:'icon-blank'" style="overflow: auto; padding: 5px 20px 5px 20px">
					<!-- {$result.id}--{$result.data}  -->
					<ul class="easyui-tree" data-options="animate:true,lines:true">
						<if condition="isHasAuth('/Admin/Certificate/menuClient')">
							<li>
								<span><a class="panel-title">{$Think.lang.terminal_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/SysClient/certificateClientList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysClient/certificateClientList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_information}">{$Think.lang.terminal_information}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Certificate/menuCertificate')">
							<li>
								<span><a class="panel-title">{$Think.lang.certificate_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/CertificateInfo/certificateList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../CertificateInfo/certificateList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.certificate_information}">{$Think.lang.certificate_information}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/CertificateInfo/certificatePrintList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../CertificateInfo/certificatePrintList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.print_record}">{$Think.lang.print_record}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
					</ul>
				</div>
			<php>}</php>