<php>if( isHasAuth('/Admin/Admin/menu') ) {</php>
				<div title="{$Think.lang.system_management_platform}" data-options="iconCls:'icon-blank'" style="padding:10px;overflow:auto;">
					<!-- {$result.id}--{$result.data}  -->
					<ul class="easyui-tree">
						 <if condition="isHasAuth('/Admin/SysAuthorization/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../SysAuthorization/toList')" class="panel-title" style="text-decoration:none;" title="{$Think.lang.permissions_management}">{$Think.lang.permissions_management}</a></span>
							</li>
						 </if>
						<if condition="isHasAuth('/Admin/SysAuthorization/toAllotAuthList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../SysAuthorization/toAllotAuthList')" class="panel-title" style="text-decoration:none;"  title="{$Think.lang.assign_permissions}">{$Think.lang.assign_permissions}</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysRole/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysRole/toList')" class="panel-title"  style="text-decoration:none;"  title="{$Think.lang.role_management}">{$Think.lang.role_management}</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysUser/toList')">
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysUser/toList')" class="panel-title"  style="text-decoration:none;"  title="{$Think.lang.account_management}">{$Think.lang.account_management}</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysUser/toAllotUserList')">	
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysUser/toAllotUserList')" class="panel-title"  style="text-decoration:none;"  title="{$Think.lang.role_assignment}">{$Think.lang.role_assignment}</a></span>
							</li>
						</if>
						
						<if condition="isHasAuth('/Admin/SysCompany/toList')">
							<li >
								<span><a href="#" onclick="addTab(this,'__URL__/../SysCompany/toList')" class="panel-title" style="text-decoration:none;"  title="公司信息">公司信息</a></span>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/SysCompany/toAllotCompanyList')">	
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysCompany/toAllotCompanyList')" class="panel-title"  style="text-decoration:none;"  title="公司账号">公司账号</a></span>
							</li>
						</if>
						
						<if condition="isHasAuth('/Admin/SysClient/toAllotClientList')">	
							<li>
								<span><a href="#" onclick="addTab(this,'__URL__/../SysClient/toAllotClientList')" class="panel-title"  style="text-decoration:none;"  title="公司终端">公司终端</a></span>
							</li>
						</if>
						
						
					</ul>
					
				</div>
			<php>}</php>