<php>if( isHasAuth('/Admin/Access/menu') ) {</php>
				<div title="{$Think.lang.smart_wash_wardrobe_platform}" data-options="iconCls:'icon-blank'" style="overflow: auto; padding: 5px 20px 5px 20px">
					<!-- {$result.id}--{$result.data}  -->
					<ul class="easyui-tree" data-options="animate:true,lines:true">
						<if condition="isHasAuth('/Admin/Access/menuClient')">
							<li>
								<span><a class="panel-title">{$Think.lang.terminal_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/SysClient/accessClientList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessClient/accessClientList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_information}">{$Think.lang.terminal_information}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysClient/accessStatusList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysClient/accessStatusList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.running_state}">{$Think.lang.running_state}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysBoxrecord/accessHistoryList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysBoxrecord/accessHistoryList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.using_the_history}">{$Think.lang.using_the_history}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Access/menuCompany')">
							<li>
								<span><a class="panel-title">{$Think.lang.operator_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/AccessOwner/toList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOwner/toList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.contractor_information}">{$Think.lang.contractor_information}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessStore/toList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessStore/toList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.cleaners_information}">{$Think.lang.cleaners_information}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessOrder/accessOrderList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOrder/accessOrderList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.order_to_check}">{$Think.lang.order_to_check}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysConfig/accessConfigList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysConfig/accessConfigList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.parameter_configuration}">{$Think.lang.parameter_configuration}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Access/menuOwner')">
							<li>
								<span><a class="panel-title">{$Think.lang.contractor_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/AccessStore/toListByOwner')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessStore/toListByOwner')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.cleaners_control}">{$Think.lang.cleaners_control}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessProduct/accessProductForOwnerList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessProduct/accessProductForOwnerList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.price_controls}">{$Think.lang.price_controls}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessOrder/accessOrderForOwnerList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOrder/accessOrderForOwnerList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.order_to_control}">{$Think.lang.order_to_control}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysClient/accessProfitConfigList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysClient/accessProfitConfigList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.manage_profit_rate}">{$Think.lang.manage_profit_rate}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessOrder/accessPayList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOrder/accessPayList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.settlement_management}">{$Think.lang.settlement_management}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Access/menuStore')">
							<li>
								<span><a class="panel-title">{$Think.lang.cleaners_management}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/AccessProduct/accessProductList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessProduct/accessProductList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.price_setting}">{$Think.lang.price_setting}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessOrder/accessOrderForStoreList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOrder/accessOrderForStoreList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.order_management}">{$Think.lang.order_management}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Access/menuSms')">
							<li>
								<span><a class="panel-title">{$Think.lang.message_center}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/SysSmsstencil/accessSmsstencilList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysSmsstencil/accessSmsstencilList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.message_template}">{$Think.lang.message_template}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysSms/accessSmsList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysSms/accessSmsList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.message_history}">{$Think.lang.message_history}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/SysSms/accessSmsPromotionList')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../SysSms/accessSmsPromotionList')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.sms_to_promote}">{$Think.lang.sms_to_promote}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
						<if condition="isHasAuth('/Admin/Access/menuStatistics')">
							<li>
								<span><a class="panel-title">{$Think.lang.statistical_analysis}</a></span>
								<ul>
									<if condition="isHasAuth('/Admin/AccessOrder/accessStatistics1')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOrder/accessStatistics1')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.sales_report}">{$Think.lang.sales_report}</a>
										</li>
									</if>
									<if condition="isHasAuth('/Admin/AccessOrder/accessStatistics2')">
										<li>
											<a href="#" onclick="addTab(this,'__URL__/../AccessOrder/accessStatistics2')" style="text-decoration: none; color: #0E2D5F" title="{$Think.lang.terminal_report}">{$Think.lang.terminal_report}</a>
										</li>
									</if>
								</ul>
							</li>
						</if>
					</ul>
				</div>
			<php>}</php>